@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5971A;
    font-family: 'Raleway', sans-serif;
}

.container {
    background-color: #6EDCF5;
    border-radius: 1rem;
    padding: 2rem;
}